<div id="wrapper">
  <div class="overlay"></div>
  <!-- Sidebar -->
  <%= render "components/sidebar" %>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="position-fixed w-100 z-index-1">
      <%= render "components/navbar" %>
    </div>
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container pt-5">

      <% if notice %>
      <p id="notice" class="alert alert-info col-md-7 mx-auto text-center my-2"><%= notice %></p>
      <% end %>
      <div class="col-md-7 mx-auto">
        <div class="w-100 pt-3">
          <%if @service.image.present?%>
            <%= image_tag @service.image.url, class:"w-100" %>
          <%else%>
            <%= image_tag('pc repair.jpg', class:"w-100") %>
          <% end %>
        </div>
        <div class="">
          <h3 class="uppercase"><%= @service.title %></h3>
          <p><%= @service.content %></p>
        </div>


        <%= link_to 'Edit', edit_service_path(@service) %> |
        <%= link_to 'Back', services_path %>
      </div>

    </div>


  </div>
</div>
