<%= render "components/navbar" %>
<div id="wrapper">
  <div class="overlay"></div>
  <!-- Sidebar -->
  <%= render "components/sidebar" %>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container bg-light shadow">
      <div class="py-4 border-bottom border-secondary row">
        <div class="col">
          <%= image_tag('philos logo.png', class:"logo-dash") %>
        </div>
        <% if user_signed_in? %>
        <div class="col">
          <h3 class="text-end"><%= current_user.first_name %> <%= current_user.last_name %></h3>
          <h3 class="text-secondary text-end">Dashboard</h3>
          <% end %>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Personal report</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Services</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Job offers</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Announcements</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Preventive maintenance</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Curative maintenance</h5>
                <h5 class="card-title">Curative maintenance</h5>
                  <h5 class="card-title">Curative maintenance</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Daily reports</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
