<div id="wrapper">
  <div class="overlay"></div>
  <!-- Sidebar -->
  <%= render "components/sidebar" %>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="position-fixed w-100 z-index-1">
      <%= render "components/navbar" %>
    </div>
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container bg-green-light shadow pt-5 ">
      <div class="py-4 pt-5 border-bottom border-secondary row">
        <div class="col">
          <%= image_tag('philos logo.png', class:"logo-dash") %>
        </div>
        <% if user_signed_in? %>
          <div class="col">
            <h3 class="text-end"><%= current_user.first_name %> <%= current_user.last_name %></h3>
            <h3 class="text-secondary text-end">Dashboard</h3>
          </div>
        <% end %>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
        <div class="col">
          <div class="card mb-4">
            <%= link_to weekly_reports_path do  %>
              <%= image_tag('weekly.jpg', class:"card-img-top") %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">Personal report</h5>

            </div>
          </div>
          <div class="card mb-4">
            <%= image_tag('service.png', class:"card-img-top") %>
            <div class="card-body">
              <h5 class="card-title">Services</h5>

            </div>
          </div>
          <div class="card mb-4">
            <div class="p-3">
              <%= link_to internships_path do %>
              <%= image_tag('job.png', class:"card-img-top") %>
              <% end %>
            </div>

            <div class="card-body">
              <h5 class="card-title">Internship applications</h5>
              <label>Number of applications: <%= @internships.count %></label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <%= link_to announcements_path do %>
            <%= image_tag('announce.png', class:"card-img-top") %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">Announcements</h5>

            </div>
          </div>
          <div class="card mb-4">
            <%= image_tag('preventive.png', class:"card-img-top") %>
            <div class="card-body">
              <h5 class="card-title">Preventive maintenance</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4">
            <%= image_tag('curative.png', class:"card-img-top") %>
            <div class="card-body">
              <h5 class="card-title">Curative maintenance</h5>
            </div>
          </div>
          <div class="card mb-4">
            <%= image_tag('personal.webp', class:"card-img-top") %>
            <div class="card-body">
              <h5 class="card-title">Daily reports</h5>

            </div>
          </div>
        </div>

      </div>
    </div>
      <%= render "components/footer" %>
  </div>
</div>
