<div id="wrapper">
  <div class="overlay"></div>
  <%= render "components/sidebar" %>
  <div class="" id="page-content-wrapper">
    <div class="position-fixed w-100">
      <%= render "components/navbar" %>
    </div>
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container border bg-light h-screen overflow-auto pt-5 px-0">
      <div class="bg-white pt-5 pb-3 border-bottom container py-4 text-center">
        <h2><%= @announcement.title %></h2>
      </div>
      <div class="container py-4">
        <% if notice %>
          <p id="notice" class="alert alert-info" role="alert"><%= notice %></p>
        <% end %>
        <p>
          <%= @announcement.content %>
        </p>
        <%= link_to 'Edit', edit_announcement_path(@announcement), class:"text-decoration-none text-main-color" %> |
        <%= link_to 'View all announcements', announcements_path, class:"text-decoration-none text-main-color" %>
      </div>





    </div>
  </div>
</div>
