<nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <div class="sidebar-header">
      <div class="sidebar-brand">
        <%= image_tag('philos logo.png', class:"logo-side") %>
      </div>
    </div>
    <li>
      <%= link_to root_path do %>
        <label class="cursor-pointer">Home</label>
      <% end %>
    </li>
    <li>
      <%= link_to weekly_reports_path do %>
        <label class="cursor-pointer">Weekly report</label>
      <% end %>
    </li>
    <li>
      <%= link_to announcements_path do %>
        <label class="cursor-pointer">Announcements</label>
      <% end %>
    </li>
    <li><a href="#team">Working sites</a></li>
    <li>
      <%= link_to users_path do %>
        <label class="cursor-pointer">Team</label>
      <% end %>
    </li>
    <li>
      <%= link_to internships_path do %>
        <label class="cursor-pointer">Internships</label>
      <% end %>
    </li>
     <li><a href="#services">Services</a></li>
     <li><a href="#contact">Contact</a></li>
   </ul>
 </nav>
