<div class="bg-light h-100 overflow-auto">
  <div class="container py-5">
    <div class="row rounded-3 py-4 bg-white shadow-sm">
      <div class="col-md-5 py-5 mx-auto">
        <%= image_tag('philos logo', class:"w-100") %>
      </div>
      <div class="col-md-5 col-sm-12 mx-auto">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row mb-4">
            <div class="col-md col-sm">
              <div class="field">
                <%= f.text_field :first_name, class:"form-control", placeholder:"First name" %>
              </div>
            </div>
            <div class="col-md col-sm">
              <div class="field">
                <%= f.text_field :last_name, class:"form-control", placeholder:"Last name" %>
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.radio_button :gender, 'male' %> Male 
            <%= f.radio_button :gender, 'female' %> Female<br />
          </div>
          <div class="field mb-4">
            <%= f.text_field :phone, class:"form-control", placeholder:"", placeholder:"Phone number" %>
          </div>
          <div class="field mb-4">
            <%= f.text_field :ID_number, class:"form-control", placeholder:"ID number" %>
          </div>
          <div class="field mb-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email Address" %>
          </div>
          <div class="row">
            <div class="col-md col-sm">
              <div class="field">
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password" %>
              </div>
            </div>
            <div class="col-md col-sm">
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Password confirmation" %>
              </div>
            </div>
          </div>

          <div class="actions pt-4 px-5">
            <%= f.submit "Sign up", class:"form-control btn-info text-white rounded-pill" %>
          </div>
        <% end %>
        <div class="text-center py-2">
          <small>
            Already have an account,
            <%- if controller_name != 'sessions' %>
              <%= link_to "Log in", new_session_path(resource_name), class:"text-decoration-none text-main-color" %><br />
            <% end %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
