<%= form_with(model: weekly_report, local: true) do |form| %>
  <% if weekly_report.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(weekly_report.errors.count, "error") %> prohibited this weekly_report from being saved:</h2>

      <ul>
        <% weekly_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class=" rounded-3 bg-green-light shadow-sm p-4">
    <div class="row mb-4">
      <div class="col-md-4 text-end">
        <%= form.label :done_at, "Today's date" %>
      </div>
      <div class="col">
        <%= form.date_select :done_at %>
      </div>

    </div>
      <%= form.fields_for :activities do |ff| %>
        <div class="row mb-4">
          <div class="col-md-4 text-end">
            <label>Select site <span class="text-danger">*</span></label>
          </div>
          <div class="col">
            <%= ff.select :site, ['CHUK', 'NIRDA', 'NEC', 'MINIJUST', 'COMPASSION', 'RALC'] %>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-4 text-end">
            <label>Start time <span class="text-danger">*</span></label>
          </div>
          <div class="col">
            <%= ff.time_field :from, value: "%H:%M", min: 'hh:mm:ss', max: 'hh:mm:ss' %>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-4 text-end">
            <label>Finish time <span class="text-danger">*</span></label>
          </div>
          <div class="col">
            <%= ff.time_field :to, value: "%H:%M", min: 'hh:mm:ss', max: 'hh:mm:ss' %>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-4 text-end">
            <label> Activity <span class="text-danger">*</span></label><br>
            <small class="text-secondary">Write in what you were doing during the time you stated above</small>
          </div>
          <div class="col">
            <%= ff.text_area :action, size:"30x3", class:"form-control" %>
          </div>
        </div>


      <% end %>
    <div class="row mb-4">
      <div class="col-md-4 text-end">
        <%= form.label :lesson, "What have you learnt?" %>
      </div>
      <div class="col">
        <%= form.text_area :lesson, size:"30x5", class:"form-control" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4 text-end">
        <%= form.label :challenge, "Which challenges you faced and how did you overcome it?" %>
      </div>
      <div class="col">
        <%= form.text_area :challenge, size:"30x5", class:"form-control" %>
      </div>

    </div>


    <div class="actions text-center">
      <%= form.submit "Save report", class:"text-white bg-main-color rounded-pill py-1 px-3 border" %>
    </div>

  </div>
  <% end %>
