<div id="wrapper">
<div class="overlay"></div>
<%= render "components/sidebar" %>
<div id="page-content-wrapper">
  <div class="position-fixed w-100 z-index-1">
    <%= render "components/navbar" %>
  </div>
  <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>
  <div class="container pt-5 bg-light h-screen">
    <% if notice %>
    <p id="notice" class="alert alert-info col-md-7 mx-auto text-center my-2"><%= notice %></p>
    <% end %>
    <div class="col-md-3 mx-auto pt-4">
      <%= image_tag('philos logo.png', class:"logo-dash") %>
    </div>
    <div class="row">
      <div class="col">
        <h1>Weekly Reports</h1>
      </div>
      <div class="col text-end align-items-center">
        <%= link_to new_weekly_report_path do %>
          <label class="bg-main-color py-1 px-3 text-white rounded-3 border cursor-pointer"> Add Report</label>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= search_form_for @search, url:search_weekly_reports_path do |form| %>
      <div class="rounded p-2 bg-main-light shadow container mx-auto my-2" id="datepicker">
        <h4 class="space-2 mb-3 text-main-colortext-center text-center">Search Employees weekly report</h4>
        <div class="input-daterange row ">
          <div class="form-group col-md-auto">
            <label>Employee name</label><br>
            <%= form.search_field :user_first_name_cont, class:"form-control py-1" %>
          </div>
          <div class="form-group col-md-auto">
            <small>From date</small><br>
            <%= form.date_select :done_at_gteq, class:"form-control  "%>
          </div>
          <div class="form-group col-md-auto">
            <small>To date</small><br>
            <%= form.date_select :done_at_lteq, class:"form-control  "%>
          </div>
          <div class="form-group col-md-auto mt-auto">
            <%= form.submit "Search", class:"bg-main-color rounded-pill border py-1 px-3 shadow-sm text-light" %>
          </div>
        </div>

      </div>
      <% end %>
    </div>
    <div class="w-100 overflow-scroll">


    <table class="table table-striped ">
      <thead>
        <tr class="bg-main-color text-white">
          <th>Done at</th>
          <th>Actions & site</th>
          <th>What you learnt</th>
          <th>Challenge and solution</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @weekly_reports.each do |weekly_report| %>
          <tr>
            <td class="">
              <%= weekly_report.done_at %>
              <% if weekly_report.done_at.wday == 1 %>
                <small>Monday</small>
              <% elsif weekly_report.done_at.wday == 2 %>
                <small>Tuesday</small>
              <% elsif weekly_report.done_at.wday == 3 %>
                <small>Wednesday</small>
              <% elsif weekly_report.done_at.wday == 4 %>
                <small>Thursday</small>
              <% elsif weekly_report.done_at.wday == 5 %>
                <small>Friday</small>
              <% end %>

            </td>
            <% weekly_report.activities.each do |activity| %>
                <td class="d-block ">
                  <%= activity.site %> | <%= activity.from.to_s(:time) %> - <%= activity.from.to_s(:time) %> | <%= activity.action %>
                </td>
            <% end %>
            <td class=""><%= weekly_report.lesson %></td>
            <td class=""><%= weekly_report.user.first_name %></td>
            <td>
              <%= link_to edit_weekly_report_path(weekly_report) do %>
                <i class="far fa-calendar-plus" title="Add today's activity"></i>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>
    <%= link_to "Print Report", weekly_reports_path(request.params.merge(format: 'pdf')), target: "_blank" %>
  </div>
</div>
</div>
