<%= render "components/navbar" %>
<div class="container">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner h-75">
      <div class="carousel-item active h-75 bg-repair py-5 px-5 align-middle" data-bs-interval="10000" >
          <div class="row g-0">
            <div class="col-sm-6 col-md-8 py-5">
              <h1>Work with a team of Experts in technology</h1>
              <h3>Take a look at our open positions</h3>
              <button class="btn btn-info text-white my-4" name="button">View Jobs</button>
            </div>
            <div class="col-6 col-md-4 py-5">
              <%= image_tag('philos logo.png', class:"w-100") %>
            </div>
          </div>
      </div>
      <div class="carousel-item h-75 bg-software" data-bs-interval="2000">
        <div class="text-center h-75 align-middle py-5">
          <h1 class="text-light my-5">We have experts in software development</h1>
        </div>
      </div>
      <div class="carousel-item h-75 bg-support">
        <div class="text-center h-75 align-middle py-5 px-5">
          <h1 class="my-5">If you have an institution, We help your employees to be familiar with Technology materials day by day</h1>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <!-- this link should be displayed by a picture -->
  <a href="#" class="no-decoration">
    <div class="py-4 text-center">
      <%= image_tag('internship.png', class:"animated-img w-1/2") %>
    </div>
  </a>

  <main class="bg-light py-4">
    <div class="row g-0">
      <div class="col-sm-6 col-md-8 px-2">
        <h2 class="text-main-color">Anouncements</h2>
        <hr>
        <div class="position-relative p-3 bg-gray">
          <div class="my-3">
            <!-- title of the announcement -->
            <h4 class="mb-0">Software developer job</h4>
            <small class="text-secondary">Feb 10 2021</small>
            <!-- body of the announcement -->
            <p class="my-2 h-3 announcement">Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java Philos Mc Ltd needs a software developer with skills in java </p>
            <small class="text-main-color">Read full text</small>
          </div>
          <div class="my-3">
            <!-- title of the announcement -->
            <h4 class="mb-0">Software developer job</h4>
            <small class="text-secondary">Feb 10 2021</small>
            <!-- body of the announcement -->
            <p class="my-2">Philos Mc Ltd needs a software developer with skills in java ...</p>
          </div>
          <div class="my-3">
            <!-- title of the announcement -->
            <h4 class="mb-0">Software developer job</h4>
            <small class="text-secondary">Feb 10 2021</small>
            <!-- body of the announcement -->
            <p class="my-2">Philos Mc Ltd needs a software developer with skills in java ...</p>
          </div>
          <a href="#" class="no-decoration text-main-color">View all</a>
        </div>
        <p class="text-danger d-none ml-5">No recent available</p>
      </div>
      <div class="col-sm-6 col-md-4 px-2">
        <div class="card mt-1 border-main-color shadow-sm rounded-3 overflow-hidden">
          <div class="text-white bg-main-color text-center py-2">
            <h5>Mainly Working Site</h5>
          </div>
           <div class="card-body p-1">
             <iframe id="gmap_canvas" class="img-fluid w-100" src="https://maps.google.com/maps?q=university%20teaching%20hospital%20of%20kigali&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
         </div>
      </div>
    </div>
    <!-- our services section -->
    <section id="services" class="px-4">
      <div class="">
        <h1 class="text-main-color text-center space-1">What we do</h1>
        <div class="row g-0 mt-4">
          <div class="col-sm-6 col-md-4 px-2">
            <%= image_tag('pc repair.jpg', class:"w-100") %>
          </div>
          <div class="col-sm-6 col-md-8 px-2">
            <h4>Computer Reparation</h4>
            <p>We repair Desktop computers, laptop computers and their peripherals</p>
          </div>
        </div>
        <div class="row g-0 mt-4">
          <div class="col-sm-6 col-md-4 px-2">
            <%= image_tag('pc repair.jpg', class:"w-100") %>
          </div>
          <div class="col-sm-6 col-md-8 px-2">
            <h4>Computer Reparation</h4>
            <p>We repair Desktop computers, laptop computers and their peripherals</p>
          </div>
        </div>
        <div class="row g-0 mt-4">
          <div class="col-sm-6 col-md-4 px-2">
            <%= image_tag('pc repair.jpg', class:"w-100") %>
          </div>
          <div class="col-sm-6 col-md-8 px-2">
            <h4>Computer Reparation</h4>
            <p>We repair Desktop computers, laptop computers and their peripherals</p>
          </div>
        </div>
      </div>
    </section>
    <!-- about us section -->
    <section id="about" class="my-5 px-4">
      <div class="text-center">
        <h2 class="text-main-color space-1">ABOUT US</h2>
        <p><em>PHILOS MC Ltd</em> started in 2017, with a mission of providing high quality and
          innovated IT Repair and maintenance services to another level of professionalism
          in Rwanda. Because of the high quality services in demand the Company intends
          to expand from Rwanda to East Africa community with various clients.</p>
      </div>
    </section>

    <!-- team section -->
    <section id="team" class="px-4">
      <h2 class="text-main-color space-1 text-center">TEAM</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center" >
        <div class="col">
          <div class="card">
            <%= image_tag('user.png', class:"w-100") %>
            <div class="card-body text-center">
              <h5 class="card-title">User name</h5>
              <i>Position</i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <%= image_tag('user.png', class:"w-100") %>
            <div class="card-body text-center">
              <h5 class="card-title">User name</h5>
              <i>Position</i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <%= image_tag('user.png', class:"w-100") %>
            <div class="card-body text-center">
              <h5 class="card-title">User name</h5>
              <i>Position</i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <%= image_tag('user.png', class:"w-100") %>
            <div class="card-body text-center">
              <h5 class="card-title">User name</h5>
              <i>Position</i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<%= render "components/footer" %>
