<div id="wrapper">
  <div class="overlay"></div>
  <%= render "components/sidebar" %>
  <div class="" id="page-content-wrapper">
    <div class="position-fixed w-100">
      <%= render "components/navbar" %>
    </div>
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
  </div>
  <div class="container border bg-light h-screen overflow-auto px-3 pt-5 ">
    <p id="notice"><%= notice %></p>
    <div class="row mb-4">
      <div class="col">
        <%= image_tag('philos logo.png', class:"logo-dash") %>
      </div>
      <div class="col text-end">
        <h1 class="text-main-color">All Internships Applications</h1>
      </div>
    </div>

    <table class="table table-striped table-hover mb-4">
      <thead class="bg-main-color text-white">
        <tr>
          <h6>Unread Applications <%= @unread_internships.count %></h6>
        </tr>
        <tr>
          <th class="text-center border-end ">Names</th>
          <th class="text-center border-end ">Email</th>
          <th class="text-center border-end ">Phone</th>
          <th class="text-center border-end ">Gender</th>
          <th class="text-center border-end ">College</th>
          <th class="text-center border-end ">Graduation year</th>
          <th class="text-center border-end ">CVs</th>
          <th class="text-center border-end ">IDs</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="table-info">
        <% @unread_internships.each do |internship| %>
          <tr>
            <td class="text-center border-end ">
              <%= link_to internship do %>
              <label class="text-decoration-none cursor-pointer"> <%= internship.first_name %>  <%= internship.last_name %></label>
              <% end %>
            </td>
            <td class="text-center border-end "><%= internship.email %></td>
            <td class="text-center border-end "><%= internship.phone %></td>
            <td class="text-center border-end "><%= internship.gender %></td>
            <td class="text-center border-end "><%= internship.college %></td>
            <td class="text-center border-end "><%= internship.graduation_year %></td>

            <td class="text-center border-end ">
              <%= link_to internship.cv do %>
                <i class="fas fa-download" title="view CV"></i>
              <% end %>
            </td>
            <td class="text-center border-end ">
              <% if internship.id_card.present? %>
                <%= link_to internship.id_card do %>
                  <i class="fas fa-download" title="view CV"></i>

                <% end %>
              <% end %>
            </td>

            <td>
              <%= link_to internship_path(internship, :status => true),method: :patch do %>
                <i class="fas fa-eye-slash" title="mark as read"></i>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-striped table-hover mb-4">
      <thead class="bg-main-color text-white">
        <tr>
          <h6>Read Applications</h6>
        </tr>
        <tr>
          <th class="text-center border-end ">Names</th>
          <th class="text-center border-end ">Email</th>
          <th class="text-center border-end ">Phone</th>
          <th class="text-center border-end ">Gender</th>
          <th class="text-center border-end ">College</th>
          <th class="text-center border-end ">Graduation year</th>
          <th class="text-center border-end ">CVs</th>
          <th class="text-center border-end ">IDs</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @read_internships.each do |internship| %>
          <tr>
            <td class="text-center border-end ">
              <%= link_to internship do %>
              <label class="text-decoration-none cursor-pointer"> <%= internship.first_name %>  <%= internship.last_name %></label>
              <% end %>
            </td>
            <td class="text-center border-end "><%= internship.email %></td>
            <td class="text-center border-end "><%= internship.phone %></td>
            <td class="text-center border-end "><%= internship.gender %></td>
            <td class="text-center border-end "><%= internship.college %></td>
            <td class="text-center border-end "><%= internship.graduation_year %></td>

            <td class="text-center border-end ">
              <%= link_to internship.cv do %>
                <i class="fas fa-download" title="view CV"></i>
              <% end %>
            </td>
            <td class="text-center border-end ">
              <% if internship.id_card.present? %>
              <%= link_to internship.id_card do %>
                <i class="fas fa-download" title="view CV"></i>

              <% end %>
              <% end %>
            </td>
            <td>
                <%= link_to internship_path(internship, :status => false),method: :patch do %>
                  <i class="fas fa-eye" title="mark as unread"></i>
                <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Internship', new_internship_path %>

  </div>

</div>
