<%= form_with(model: support, local: true) do |form| %>
  <% if support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
        <% support.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department %>
  </div>
  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service %>
  </div>
  <div class="field">
    <%= form.label :caller, "Caller Phone number" %>
    <%= form.text_field :caller %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :problem %>
    <%= form.text_area :problem %>
  </div>

  <div class="field">
    <%= form.label :followup %>
    <%= form.text_field :followup %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
